.ListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: green;
  background-color: #f4e1c1;
  margin: 0.4rem 0;
  padding: 0.3rem;
  border: 1px solid #d9bfa2;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.ListItem:hover {
  color: #381875;
  font-weight: bold;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.removeButton {
  background-color: #b81500;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.removeButton:hover {
  background-color: #a00000;
}
