.ListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: green;
  background-color: #fed7c6;
  margin: 0.4rem 0;
  padding: 0.3rem;
  border: 1px solid #feb4aa;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.completed span {
  text-decoration: line-through;
  color: #4e596b;
}

.completed {
  background-color: #faedeb;
  border: 1px solid #fed7c6;
}

.ListItem:hover {
  color: #381875;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.removeButton {
  background-color: #b81500;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.removeButton:hover {
  background-color: #a00000;
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #1b944b;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: #2eb660;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: -3px;
  left: 2px;
}

button {
  margin-left: 5px;
}

.editButton {
  background-color: #4790cf;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.editButton:hover {
  background-color: #3b6fad;
}

.cancelButton {
  background-color: #f0982c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cancelButton:hover {
  background-color: #ea6f23;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.editableTitle {
  border: 1px solid #feb4aa;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}
